body {
    background: #F9F9F9; /*#F9F9F9 white*/
    text-align: center;
    letter-spacing: 1px;
    font-family: "monospace", "FreeMono", monospace;
    margin:0;
}

.item2{
    grid-area: picture;
}
.littlemonkey{
    height: 98px;
    width: auto;
    float: right;
    margin-top: 5px;
    margin-right: 5vw;
}

p{
    text-align: left;
    width: 80%;
    margin: 20px auto;
}

.grid{
    display: grid;
    grid-template-columns: repeat(1, 10%);
    grid-template-areas:
        '. header header picture'
        'menu pic1 pic2 picture'
        'menu pic3 pic4 .'
        '. pic5 pic6 .';
}

img{
    max-width: 30vw;
}

.item1{
    grid-area: header;
}

.item3{
    grid-area: menu;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    /*background-color: #333;*/
    text-align: left;
    font-size: x-large;
    width: 100%;
}

ul{
   list-style-type: none; 
}

.item4{
    grid-area: pic1;
}

.item5{
    grid-area: pic2;
}

.item6{
    grid-area: pic3;
}

.item7{
    grid-area: pic4;
}

.item8{
    grid-area: pic5;
}

.item9{
    grid-area: pic6;
}