body {
                background: #F9F9F9;
                text-align: center;
                font-family: "monospace", "FreeMono", monospace;
            }           

ul.nav{
                display: inline-block;
                list-style-type: none;
}

li.nav{
                float: left;
                padding: 15px;
                background: #6D82BE; /*#6D82BE blue*/
}

div{
    font-style: italic;
}

p{
    margin-left: 100px;
    margin-right: 100px;
    text-align: left;
    text-indent: 25px;
}

figure{
    padding: 5px;
}

img{
    height: 45%;
    width: 45%;
}

figcaption{
    font-size: small;
}