body {
                background-image:url(smooth-white-stucco-wall.jpg);
                /*background: #F9F9F9;*/
                text-align: center;
                font-family: "monospace", "FreeMono", monospace;
            }           

nav{
    width: 100%;
    background-color: #6D82BE; /*#6D82BE blue*/;
}

ul.nav{
    display: inline-block;
    list-style-type: none;
}

li.nav{
                float: left;
                padding: 15px;
                background: #6D82BE; /*#6D82BE blue*/
}

div{
    font-style: italic;
}

p{
    margin-left: 100px;
    margin-right: 100px;
    text-align: left;
    text-indent: 25px;
    font-size: 18px;
}

figure{
    padding: 5px;
}

img.header{
    height: 650px;
    width: auto;
}

figure.namegallery{
    padding: 5px;
    display: flex;
}

img.rock{
    flex:1;
}

img.tree{
    flex:1;
}

img{
    height: 45%;
    width: 45%;
}

figcaption{
    font-size: small;
}

iframe{
    height: 380px;
    width: 47%;
}

p.attribution{
    text-align: center;
    font-size: small;
}
