body {
    background: #F9F9F9; /*#F9F9F9 white*/
    text-align: center;
    font-family: "monospace", "FreeMono", monospace;
}           

ul.nav{
    display: inline-block;
    list-style-type: none;
}

li.nav{
    float: left;
    padding: 15px;
    background: #6D82BE; /*#6D82BE blue*/
}

p{
    margin-left: 12em;
    margin-right: 12em;
    text-align: center;
}

div.COMM270{
    display: flex;
    width: 800px;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}

figure.wolf{
    flex: 1;
    max-width: 400px;
}

figure.earth{
    flex: 4;
    max-width: 400px;
}

img.bigbadwolf{
    max-width: 400px;
}

img.earth{
    max-width: 400px;
}