body{
    background: #F9F9F9; /*#F9F9F9 white*/
    text-align: center;
    letter-spacing: 1px;
    font-family: "monospace", "FreeMono", monospace;
}     


ul.nav{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    font-size: x-large;
    top: 0;
    width: 100%;
    z-index: 2;
}

a.nav{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
}
li {
    display: inline-block;
    list-style-type: none;
}

ul.gallery{
    display: inline-block;
    list-style-type: none;
    color: gray;
}

li.gallery{
    float: left;
    padding: 15px;
    color: black;
}

p{
    width: 80%;
    margin: 20px auto;
}

p.corpus{
    text-align:left;
}

div.COMM270{
/*    display: flex;
    width: 80%; /\*  make div fits the screen size when resizing the screen*\/
    flex-direction: row;
    justify-content: center;
    margin: auto;
    flex-wrap: wrap;*/
    
    width: 80%; 
    margin: auto;
    display: grid; /* use grid layout */
    grid-template-columns: repeat(2, 1fr); /* two items per row */
    grid-gap: 10px; /* gap between items */
    
}

figure.gallery{
/*    flex: 1;*/
/*    flex: 0 0 calc(50% - 80px); /\* control the size of figure *\/*/
/*    max-width: 50%;*/
}

img{
    max-width: 100%;
}

div.corpus_gallery{
    display: flex;
}

figure.corpus{
    flex: 1;
    flex-direction: row;
}

figure.videoGame{
    display: flex;
    flex-direction: column;
    align-items: center;
}

img.videoGame{
    flex: 1;
    max-width: 50%;
}

figcaption{
    margin: 1em;
    text-align: left;
}

iframe.timemap{
    width:100%; 
    height:780px;
}