 body {
    background: #F9F9F9; /*#F9F9F9 white*/
    text-align: center;
    font-family: "monospace", "FreeMono", monospace;
}           

ul.nav{
    display: inline-block;
    list-style-type: none;
}

li.nav{
    float: left;
    padding: 15px;
    background: #6D82BE; /*#6D82BE blue*/
}

p{
    margin-left: 12em;
    margin-right: 12em;
    text-align: left;
}

figure{
    padding: 5px;
}

img{
    height: 45%;
    width: 45%;
}

figcaption{
    font-size: small;
}