body {
    background: #F9F9F9; /*#F9F9F9 white*/
    text-align: center;
    letter-spacing: 1px;
    font-family: "monospace", "FreeMono", monospace;
    margin:0;
}

.nav {
    position: sticky;
    list-style-type: none;
    margin: 0;
    padding: .5vh;
    overflow: hidden;
    background-color: #333;
    font-size: x-large;
    width: 100%;
    z-index: 2;
}
a{
    color: black;
}

li a.nav{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
}
li {
    display: inline-block;
    list-style-type: none;
}

p{
    text-align: left;
    width: 80%;
    margin: 20px auto;
}

figure{
    padding: 5px;
}

img{
    height: 45%;
    width: 45%;
}

figcaption{
    font-size: small;
}

div.gallery{
    margin: 0;
    padding: .5vh;
    overflow: hidden;
    display: grid; /* use grid layout */
    grid-template-columns: repeat(2, 1fr); /* two items per row */
    grid-gap: 10px; /* gap between items */
}